<div class="user-sidebar">
  <div class="row">
    <div class="profile-img">
      <span><img class="profile-avatar" ng-src="{{avatar}}" alt="me" width="150" height="150"></span>
    </div>
  </div>
  <div class="row text-center">
      <div class="small-12 text-center">
        <span class="username">{{username | capitalize}}</span>
      </div>
  </div>
  <div class="row text-center userstats">
      <div class="small-6 columns">
        <i class="fi-eye"></i> {{nbViews}}
      </div>
      <div class="small-6 columns">
        <i class="fi-video"></i> {{nbVideos}}
      </div>
  </div>
  <div class="row">
      <div class="small-12">
        <a class="button btn-attract radius addvideo" ng-click="toggleUploadForm()" ng-class="{activ: showFastUploadForm}">Add a video</a>

        <form ng-show="showFastUploadForm" novalidate="" ng-submit="fastUploadVideo()" name="fastUpload" id="fastUpload" ng-class="{open: showFastUploadForm}">
          <div class="row">
            <div class="small-12 ">
              <input type="file"
                     ng-file-select="onFileSelect($files)"
                     ng-model="file"
                     accept="video/*"
                     ng-required="true"
                     placeholder="Vidéo*">

            </div>
          </div>
          <div class="row">
            <div class="small-12 ">
              <input type="text" placeholder="Title*" name="title" ng-model="title" ng-required="true" >
            </div>
          </div>
          <div class="row">
            <div class="small-12 ">
              <select ng-model="confidentiality" ng-required="true">
                <option value="public" selected="selected">Public</option>
                <option value="privateLink">PrivateLink</option>
                <option value="private">Private</option>
              </select>
            </div>
          </div>

          <button type="submit" ng-disabled="fastUpload.$invalid" class="btn-attract">
            Submit
          </button>
        </form>
      </div>
      <div class="small-12">
        <a ui-sref="skel.pipe({userId: userId})" class="button  btn-secondary radius">My pipe</a>
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns user-settings">
        <i class="fi-widget"><a ui-sref="skel.editUser({userId: userId})">Account settings</a></i>
        <i class="fi-arrow-right"><a href="#" ng-click="logout()">Log out</a></i>

      </div>
</div>
</div>
