<div class="user-sidebar">
  <div class="row">
    <div class="profile-img">
      <span><img class="profile-avatar" ng-src="{{avatar}}" alt="me" width="150" height="150"></span>
    </div>
  </div>
  <div class="row text-center">
      <div class="small-12 text-center">
        <span class="username">{{firstname}} {{lastname}}</span>
      </div>
  </div>
  <div class="row text-center userstats">
      <div class="small-6 columns">
        <i class="fi-eye"></i> 211
      </div>
      <div class="small-6 columns">
        <i class="fi-video"></i> 5
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns">
        <a class="button btn-attract radius addvideo" ng-click="toggleUploadForm()" ng-class="{activ: showFastUploadForm}">Add a video</a>

        <form ng-show="showFastUploadForm" novalidate="" ng-submit="uploadVideo()" name="fastUpload" id="fastUpload" ng-class="{open: showFastUploadForm}">
          <div class="row">
            <div class="small-12 columns">
              <input type="file"
                     ng-file-select
                     ng-model="file"
                     accept="video/*"
                     ng-required="true"
                     placeholder="Vidéo*">

            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input type="text" placeholder="Title*" name="title" ng-model="title" ng-required="true" >
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <select ng-model="confidentiality" ng-required="true">
                <option value="Public" selected="selected">Public</option>
                <option value="PrivateLink">PrivateLink</option>
                <option value="Private">Private</option>
              </select>
            </div>
          </div>

          <button type="submit" ng-disabled="fastUpload.$invalid" >
            Submit
          </button>
        </form>
      </div>
      <div class="small-12 columns">
        <a ui-sref="skel.pipe" class="button  btn-secondary radius">My pipe</a>
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns">
        <ul class="">
          <li>Account settings <i class="fi-widget"></i></li>
          <li ng-click="logout()"><a>Log out <i class="fi-arrow-right"></i></a></li>
        </ul>
      </div>
</div>
</div>
