.user-sidebar{
  margin-top: 0.5em;

  .username {
    margin-top: 0.5em;
    display: block;
    font-size: 22px;
    margin-bottom: 0.5em;
  }

  .userstats {
    margin-bottom: 2em;
    margin-top: 0.5em;
  }

  .profile-avatar {
    max-height: 150px;
  }



  ul{
    list-style: none;

    li{
      float: right;
    }
  }

  i{
    font-size: 15px;
  }

  .addvideo.activ {
    background: transparent;
    border-bottom: 3px solid orange;
  }

  #fastUpload {
    //position: absolute;
    opacity: 0;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;

    &.open {
      position: inherit;
      opacity: 1;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
    }
  }

  .user-settings {
    i {
      float: right;
      clear: both;

      &:first-child {
        margin-top: 1em;
      }

      a {
        color: $white;
        margin-left: 0.3em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


