.nav-container {
  padding-left: 0px;
  width: 4%;
  padding-right: 0px;
}

.main-container {
  background: $bg-secondary;
}

.side-nav {
  text-align: center;
  padding: 0px;
  a {
    font-size: 1.7rem;
  }
  li {
    line-height: 8rem;
  }
}
