<div class="row">
  <div class="small-12 columns">
    <videogular vg-theme="controller.config.theme"
                vg-complete="onComplete()">
      <vg-media vg-src="videoConfig.sources"
                vg-tracks="videoConfig.tracks">
      </vg-media>

      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>

      <vg-overlay-play></vg-overlay-play>
      <vg-poster vg-url='videoConfig.plugins.poster'></vg-poster>
    </videogular>
  </div>
</div>
<section class="row">
  <div class="small-9 columns">
    <h3>{{videoConfig.title}}</h3>
  </div>
  <div class="small-3 columns">
      <div class="small-12 text-right">{{videoConfig.shares}} shares</div>
      <div class="small-12 text-right">{{videoConfig.views}} views</div>
      <div class="small-12 text-right social-share">
        <!--<i class="fi-social-facebook text-attract"></i>-->
        <i ng-click="showSlug()" class="fi-link text-attract"></i>
        <!--<i class="fi-social-twitter text-attract"></i>-->
      </div>
  </div>

</section>
<div class="row">
  <div class="small-12 ">
   Share: <input  class="text" ng-model="slug" select-on-click>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <span class="text-iron">John Doe</span>
  </div>
</div> <br>
<div class="row">
  <div class="small-12 columns">
    <p>{{videoConfig.description}}</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
  Tags : <span ng-repeat="tag in videoConfig.tags" class="text-attract">{{tag}}, </span>
  </div>
</div>
<br>
<div class="row">
  <div class="small-3 large-offset-9 columns">
    <a ui-sref="skel.editVideo({videoId: videoId})" class="button btn-attract radius">Edit video</a>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
   <h4>Similar Videos:</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <hr />
  </div>
</div>



