<div class="row text-center login-container">
<i class="fi-torso"></i>
<h1>Sign in !</h1>
<p>You already have an account ? Please fill this formular your login and password.</p>

<form novalidate="" ng-submit="submit()">
  <div class="row">
    <div class="small-12">
        <input type="email" ng-model="email" placeholder="your@mail">
        <input type="password" ng-model="password" placeholder="password">
    </div>
    <button type="submit">login</button>
  </div>
</form>

<p>You don't have an account ? Hury up and go create one !</p>


</div>

<!--
<form>
  <input type="text" name="OID" placeholder="OpenId">
  <button></button>
</form>
-->
