<div class="row">
  <div class="small-12 columns">
    <h1>Edit a  video</h1>

    <form name="uploadForm" novalidate="" ng-submit="videoUpdate()"  id="uploadForm">

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-2 columns">
              <label for="right-label" class="right inline" >Title</label>
            </div>
            <div class="small-10 columns">
              <input type="text" id="right-label"  ng-model="title" ng-required="true">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-2 columns">
              <label for="right-label" class="right inline">Description</label>
            </div>
            <div class="small-10 columns">
              <textarea name="vid_description" rows="5" placeholder="Describe your video"  ng-model="description" ng-required="fale"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-2 columns">
              <label for="right-label" class="right inline">Tags #</label>
            </div>
            <div class="small-10 columns">
              <div class=" input-group">
                <tags-input ng-model="tags"
                            id="upload-tags"
                            type="text"
                            add-on-enter="true"
                            add-on-space="true"
                            add-on-comma="true"
                            add-on-paste="true"
                            paste-split-pattern="[, ]"
                            allowed-tags-pattern="^[a-zA-Z\-]+$"
                            max-length="25"
                            ng-required="false"
                            placeholder="nature, sport, jeux...">

                </tags-input>
                <!-- <auto-complete
                   source="loadTags($query)"
                   min-length="0",
                   debounce-delay="0",
                   max-result="5"
                   >
                 </auto-complete>-->
                <!--allowed-tags-pattern="/^[0-9a-zA-Z]+([0-9a-zA-Z]*[-._+])*[0-9a-zA-Z]+@[0-9a-zA-Z]+([-.][0-9a-zA-Z]+)*([0-9a-zA-Z]*[.])[a-zA-Z]{2,6}\,$/">-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <select ng-model="confidentiality" ng-required="true">
            <option value="public" selected>Public</option>
            <option value="privateLink">PrivateLink</option>
            <option value="private">Private</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button type="submit">Upload !</button>
        </div>
      </div>
    </form>
  </div>
</div>
