  <h2>Create your account !</h2>
  <p>Fill the following formular to complete your account's creation !</p>
  <form name="signupForm" novalidate="" ng-submit="signup()">
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-2 columns">
            <label class="right inline">Profile Picture</label>
          </div>
          <div class="small-10 columns">
            <input type="file"
                   ng-file-select="onFileSelect($files)"
                   ng-model="file"
                   accept="image/*"
                   placeholder="Profile picture*">
            <img ng-if="preview_upload" class="preview-upload" ng-src="{{preview_upload}}"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12">
        <input type="email" name="email" placeholder="email*" ng-model="email" class="input-default"  ng-required="true">
        <div role="alert">
          <span class="error" ng-show="signupForm.email.$error.required" >Email is required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <input type="text" name="username" placeholder="username*" ng-model="username" class="input-default" ng-minlength="3" ng-required="true">
        <div role="alert">
          <span class="error" ng-show="signupForm.username.$error.required" >Username is required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <input type="password" name="password" placeholder="password*" ng-model="password" class="input-default" ng-minlength="8" ng-required="true">
        <div role="alert">
          <span class="error" ng-show="signupForm.password.$error.minlength" >Password must be at least 8 characters</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <input type="password" ng-model="repeatPassword" placeholder="repeat password*"  class="input-default" ng-minlength="8" ng-required="true">
        <div role="alert">
          <span class="error" ng-show="repeatPassword !== password" >Password must be the same</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <input type="text" name="firstname" placeholder="firstname" ng-model="firstname" class="input-default" >

      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <input type="text" name="lastname" placeholder="lastname" ng-model="lastname" class="input-default" >
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <button class="button btn-attract "  type="submit" ng-disabled="signupForm.$invalid">Register</button>
      </div>
    </div>
  </form>
</div>
