#pipe-header {
  height: 250px;
  padding-top: 2.5em;
  background-color: $attractColor;
  margin-bottom: 1em;
  color: white;

  h1 {
    color: white;
  }

  .user-stats {
    color: $white;
  }

  .profile-img {
    display: inline-block;
    margin: 0 20%;
    padding: 0.4em;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px $white inset;

  }
}

