  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li class="video-item" ng-repeat="latestUploadVideo in videos">
      <div class="th">
        <a ui-sref="skel.video({videoId: latestUploadVideo.id})">
          <img class="right" ng-src="{{apiUrl}}{{latestUploadVideo.thumb}}" alt="{{latestUploadVideo.title}}">
        </a>
        <div class="caption">
          <h3>{{latestUploadVideo.title}}</h3>
          <p>{{latestUploadVideo.user_id}}</p>
          <a class="GoToPlay" ui-sref="skel.video({videoId: latestUploadVideo.id})">Play !</a>
        </div>
      </div>
  </li>
</ul>
 <!-- <div class="row cat1">
    <div class="video-item" ng-repeat="latestUploadVideo in latestUploadVideos">
      <div class="th">
        <a ui-sref="{{latestUploadVideo.url}}">
          <img class="right" ng-src="assets/images/videothumb/{{latestUploadVideo.thumbnail}}" alt="{{latestUploadVideo.title}}">
        </a>
        <div class="caption">
          <h3>{{latestUploadVideo.title}}</h3>
          <p>{{latestUploadVideo.creator}}</p>
          <a class="GoToPlay" ui-sref="{{latestUploadVideo.url}}">Play !</a>
        </div>
      </div>
    </div>
  </div>-->



